@import "tailwindcss";
/* infinite scroll animation */
/* ✔ Smooth infinite marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ✔ Reverse direction (Right → Left) */
@keyframes marqueeReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ✔ Classes */
.animate-marquee {
  animation: marquee 18s linear infinite;
}

.animate-marquee-reverse {
  animation: marqueeReverse 18s linear infinite;
}
.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes shadowMove {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

.animate-float {
  animation: float 2.5s ease-in-out infinite;
}

.animate-shadow {
  animation: shadowMove 2.5s ease-in-out infinite;
}



/* Fade + Slide Up for tab content */
.fade-slide {
  animation: fadeSlide 0.45s ease forwards;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Underline animation */
.underline-anim {
  position: relative;
}

.underline-anim::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: black;
  width: 0;
  animation: lineSlide 0.35s ease forwards;
}

@keyframes lineSlide {
  from { width: 0%; }
  to { width: 100%; }
}



/* image zoom */
@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeZoom {
  animation: fadeZoom 0.3s ease-out;
}
